@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/style.css")
@Styles.Render("~/Content/flexslider.css")
@Styles.Render("~/Content/animate.css")


<div><img src="~/Content/img/spbanner.png" width="1125" height="500" style="align-items:center"/></div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
